@import '~bulma/sass/utilities/initial-variables';

// Font
$weight-semibold: 600;
$title-line-height: 1.35;

@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins.sass';
@import '~bulma/sass/utilities/controls.sass';

// - Content
$content-heading-line-height: 1.35;

// - Input
$input-color: $black-ter;
$input-border-color: $grey-light;
$input-placeholder-color: $grey-darker;
$input-icon-color: $grey;

// - Custom
// -- Navbar
$custom-navbar-height: 66px;

// -- Z index
$custom-z-index-photo-item: 10;
$custom-z-index-navbar: 1000;
$custom-z-index-modal: 10000;

// Mixin
@mixin within($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
