@import "../../css/vars";

.main {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 32px;
}

.avatar {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}