@import "../../css/vars";

.content {
    background-color: rgba($black, 0.6);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: $custom-z-index-modal + 1;
    overflow-x: hidden;
    overflow-y: auto;
    cursor: zoom-out;
}

.guard {
    cursor: default;
}