@import '../../css/vars';

.general {
  padding: 48px 16px;
}

.top {
  padding: 72px 16px 24px;
}

.photos {
  padding: 32px 0px;
}

.wrapper {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  .general {
    padding: 48px 24px;
  }

  .top {
    padding: 72px 24px 24px;
  }

  .photos {
    padding: 48px 24px;
  }
}
