@import "../../css/vars";

// - Navbar
.main {
    background-color: $white;
    box-shadow: none;
    position: relative;
    top: 0px;
    z-index: $custom-z-index-navbar;
}

.item {
    display: flex;
    flex-shrink: 1;
}

.item_expand {
    display: flex;
    flex-grow: 1;
}

// - Brand
.brand {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    align-items: center;
    height: 100%;
    padding: 12px 12px 12px 16px;
}

.brand_logo {
    width: 36px;
    height: 36px;
}

.brand_text {
    display: none;
}

// - Search
.search_outer {
    width: 100%;
    height: 100%;
    padding: 12px 4px;
}

.search_inner {
    max-width: 600px;
}

// - Link
.link {
    color: $grey;
    font-size: 14px;
    font-weight: $weight-semibold;
    white-space: nowrap;
    display: inline-flex;
    height: 100%;
    padding: 12px;
    align-items: center;
    cursor: pointer;
}

// - Scroll
.scroll_cover {
    height: 48px;
    overflow: hidden;
}

.scroll_area {
    height: calc(100% + 15px);
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll_content {
    display: flex;
    width: max-content;
    height: 100%;
}

// - Responsive
@include from($tablet) {
    .main {
        position: sticky;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.125);
    }

    .brand {
        grid-template-columns: auto auto;
    }

    .brand_logo {
        width: 44px;
        height: 44px;
    }

    .brand_text {
        display: block;
    }

    .search_outer {
        padding: 12px 20px;
    }
}